.star {
  display: block;
  position: relative;
  top: -1px;
  float: left;
  width: 17px;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal; }
  .star a {
    display: block;
    position: absolute;
    text-indent: -5000px; }
  .star:after {
    font-family: "material-design";
    content: "\e0d8";
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    color: #d2dae3; }
  .star.star_on:after {
    font-family: "material-design";
    content: "\e0d8";
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    color: #fe9f38; }
  .star.star.star_hover {
    cursor: pointer; }
    .star.star.star_hover:after {
      font-family: "material-design";
      content: "\e0d8";
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      color: #f14a69; }

#product_comments_block_extra {
  text-transform: uppercase;
  color: #102747; }
  #product_comments_block_extra .comments_note {
    display: inline-block;
    vertical-align: middle;
    margin-right: 34px; }
    #product_comments_block_extra .comments_note span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px; }
    #product_comments_block_extra .comments_note .star_content {
      padding-top: 1px;
      display: inline-block;
      vertical-align: middle; }
  #product_comments_block_extra .comments_advices {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }

.comments_advices li {
  display: inline-block;
  line-height: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .comments_advices li {
      display: block;
      line-height: 20px; } }
.comments_advices a {
  color: #fe9f38;
  margin-right: 34px; }
  .comments_advices a:hover {
    color: #102747; }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 1170px; }

#fancybox-content {
  width: 1170px;
  border-width: 0; }

#new_comment_form {
  overflow: hidden;
  color: #5c6e87;
  text-align: left;
  padding: 30px; }
  #new_comment_form h2 {
    margin-bottom: 10px;
    font: 500 20px/30px "Ubuntu", sans-serif; }
  #new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    background: #102747; }
  #new_comment_form .product_name strong {
    font-weight: normal;
    color: #fe9f38; }
  #new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0; }
    #new_comment_form ul.grade_content li {
      width: 50%; }
    #new_comment_form ul.grade_content span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold; }
    #new_comment_form ul.grade_content .cancel {
      margin-right: 5px; }
  #new_comment_form .product {
    padding: 15px 30px 15px 15px; }
    @media (max-width: 767px) {
      #new_comment_form .product {
        padding-right: 15px; } }
    #new_comment_form .product img {
      margin-bottom: 20px; }
  #new_comment_form .new_comment_form_content {
    background: #f1f4f7;
    border: none;
    padding: 30px;
    margin: 0 0 30px 0;
    font: normal 13px/23px "Ubuntu", sans-serif;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-left: -15px; }
    @media (max-width: 767px) {
      #new_comment_form .new_comment_form_content {
        padding-left: 35px;
        padding-right: 35px;
        margin-left: 0; } }
    #new_comment_form .new_comment_form_content .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px; }
  #new_comment_form input,
  #new_comment_form textarea {
    width: 100%;
    background: white; }
  #new_comment_form textarea {
    height: 80px; }
  #new_comment_form input {
    margin-bottom: 10px; }
  #new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right; }
  #new_comment_form #criterions_list {
    border-bottom: 1px solid #d2dae3;
    padding-bottom: 15px;
    list-style-type: none; }
    #new_comment_form #criterions_list li {
      margin-bottom: 10px; }
    #new_comment_form #criterions_list label {
      float: left;
      margin: 0 10px 0 0; }
    #new_comment_form #criterions_list .star_content {
      float: left; }
  #new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px; }

/* TAB COMMENTS ******************************************************************************** */
.page-product-box .container {
  max-width: 100%; }
  @media (max-width: 991px) {
    .page-product-box .container {
      padding: 0; } }

#product_comments_block_tab {
  margin: 0 0 20px; }
  #product_comments_block_tab .align_center {
    padding-top: 30px; }
  #product_comments_block_tab div.comment {
    margin: 0;
    border-bottom: 1px solid #d2dae3; }
    #product_comments_block_tab div.comment:first-child {
      padding: 0;
      border-top: 1px solid #d2dae3; }
    #product_comments_block_tab div.comment .comment_author {
      padding: 30px 30px 0 0; }
      #product_comments_block_tab div.comment .comment_author span {
        float: left;
        text-transform: uppercase;
        color: #fe9f38;
        display: block;
        margin-right: 13px; }
      #product_comments_block_tab div.comment .comment_author .star_content {
        display: inline-block;
        vertical-align: middle;
        margin: 0; }
    #product_comments_block_tab div.comment .comment_details {
      padding: 30px;
      overflow: hidden;
      border-left: 1px solid #d2dae3; }
      @media (max-width: 991px) {
        #product_comments_block_tab div.comment .comment_details {
          border: none; } }
      #product_comments_block_tab div.comment .comment_details .title_block {
        font: normal 14px/21px "Ubuntu", sans-serif;
        text-transform: uppercase;
        color: #102747; }
      #product_comments_block_tab div.comment .comment_details li {
        margin-bottom: 20px;
        float: right;
        clear: right; }
      #product_comments_block_tab div.comment .comment_details .btn {
        min-width: 0;
        float: right;
        margin-left: 20px;
        margin-bottom: 10px; }
  #product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 10px; }
    #product_comments_block_tab .comment_author_infos strong {
      display: block;
      color: #102747;
      font-weight: normal; }
    #product_comments_block_tab .comment_author_infos em {
      font-size: 14px;
      display: block;
      padding-top: 12px; }
  #product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold; }
  #product_comments_block_tab span.report_btn {
    cursor: pointer; }
  #product_comments_block_tab span.report_btn:hover {
    text-decoration: underline; }
  @media (max-width: 991px) {
    #product_comments_block_tab {
      font-size: 12px; }
      #product_comments_block_tab .comment_author_infos em {
        font-size: 12px; } }

.fl {
  float: left; }

.fr {
  float: right; }
