/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cartBox {
  float: right;
  position: relative; }
  #header .cartBox .shopping_cart {
    position: relative;
    float: right; }
    #header .cartBox .shopping_cart > a:first-child {
      position: relative;
      display: block;
      width: 127px;
      font: bold 14px/21px "Ubuntu", sans-serif;
      text-transform: uppercase;
      padding: 29px 5px 25px;
      border: none;
      border-left: 1px solid #d2dae3;
      color: #102747;
      letter-spacing: 0.06em;
      background: none;
      text-align: center; }
      #header .cartBox .shopping_cart > a:first-child:hover {
        background: #f1f4f7; }
      #header .cartBox .shopping_cart > a:first-child:before {
        display: block !important;
        font-weight: normal;
        font-size: 36px;
        line-height: 1.1em;
        padding: 0;
        color: #fe9f38;
        margin-bottom: 5px; }
      #header .cartBox .shopping_cart > a:first-child span.ajax_cart_quantity, #header .cartBox .shopping_cart > a:first-child strong {
        position: absolute;
        right: 12px;
        top: 25px;
        width: 40px;
        font-size: 18px;
        font-weight: normal;
        color: #7587a1; }
      body#products-comparison #header .cartBox .shopping_cart > a:first-child strong {
        display: none; }
      #header .cartBox .shopping_cart > a:first-child:before {
        font-family: "fl-bigmug-line";
        content: "\e0a1";
        display: inline-block;
        font-weight: normal; }
      #header .cartBox .shopping_cart > a:first-child span {
        display: none !important; }
        #header .cartBox .shopping_cart > a:first-child span.ajax_cart_quantity {
          display: block !important; }
  @media (max-width: 767px) {
    #header .cartBox {
      position: absolute;
      right: 15px;
      top: -60px; }
      #header .cartBox .shopping_cart {
        position: relative;
        float: right; }
        #header .cartBox .shopping_cart > a:first-child {
          padding: 0;
          margin: 0;
          border: none;
          width: 94px;
          height: 60px; }
          #header .cartBox .shopping_cart > a:first-child b {
            display: none; }
          #header .cartBox .shopping_cart > a:first-child:before {
            line-height: 60px; }
          #header .cartBox .shopping_cart > a:first-child span.ajax_cart_quantity {
            right: 10px;
            top: 6px;
            width: auto; } }
  @media (max-width: 991px) {
    #header .cartBox:hover {
      z-index: 5 !important; } }
  #header .cartBox .cart_block {
    background: white;
    -moz-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
    -webkit-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
    box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: 99999;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
    overflow: hidden;
    width: 378px !important;
    margin-top: 1px; }
    @media (max-width: 479px) {
      #header .cartBox .cart_block {
        width: 300px !important;
        font-size: 12px; }
        #header .cartBox .cart_block .products .price, #header .cartBox .cart_block .products .product-name, #header .cartBox .cart_block .products .product-name a {
          font-size: 14px;
          line-height: 20px; }
        #header .cartBox .cart_block .cart_block_list .remove_link {
          font-size: 17px; } }
    .mobile #header .cartBox .cart_block.active {
      display: block !important; }
    .tablet #header .cartBox .cart_block.active {
      display: block !important; }
    #header .cartBox .cart_block.active .price, #header .cartBox .cart_block.active .btn {
      animation: 0.5s ease-in-out 0s normal none 1 fadeInUp;
      -webkit-animation: 0.5s ease-in-out 0s normal none 1 fadeInUp; }
    #header .cartBox .cart_block.active img {
      animation: 0.5s ease-in-out 0s normal none 1 pulse;
      -webkit-animation: 0.5s ease-in-out 0s normal none 1 pulse; }
    #header .cartBox .cart_block .cart_block_list {
      padding: 20px 0 15px; }
      #header .cartBox .cart_block .cart_block_list .scrollbar-inner {
        max-height: 335px;
        overflow: auto; }
        @media (max-width: 479px) {
          #header .cartBox .cart_block .cart_block_list .scrollbar-inner {
            max-height: 200px; } }
      #header .cartBox .cart_block .cart_block_list dl {
        padding: 0 25px 0 30px; }
        #header .cartBox .cart_block .cart_block_list dl dt {
          padding: 10px 0 13px; }
    #header .cartBox .cart_block .bottom_cart {
      padding-top: 29px;
      border-top: 1px solid #d2dae3; }
      #header .cartBox .cart_block .bottom_cart .cart-prices {
        margin: 0;
        padding: 0;
        background: none;
        color: #102747; }
        #header .cartBox .cart_block .bottom_cart .cart-prices .first-line {
          display: none; }
        #header .cartBox .cart_block .bottom_cart .cart-prices .cart-prices-line.last-line {
          float: left;
          padding: 5px 5px 35px 38px;
          font: 500 20px/30px "Ubuntu", sans-serif;
          text-transform: uppercase; }
          #header .cartBox .cart_block .bottom_cart .cart-prices .cart-prices-line.last-line span:last-child {
            margin-right: 11px; }
            #header .cartBox .cart_block .bottom_cart .cart-prices .cart-prices-line.last-line span:last-child:after {
              content: ':'; }
      #header .cartBox .cart_block .bottom_cart .cart-buttons {
        padding: 0 38px 30px 5px;
        float: right; }
      @media (max-width: 479px) {
        #header .cartBox .cart_block .bottom_cart {
          padding-top: 19px; }
          #header .cartBox .cart_block .bottom_cart .cart-prices .cart-prices-line.last-line {
            padding: 5px 5px 15px 10px;
            font: normal 14px/21px "Ubuntu", sans-serif; }
            #header .cartBox .cart_block .bottom_cart .cart-prices .cart-prices-line.last-line span:last-child {
              margin-right: 5px; }
            #header .cartBox .cart_block .bottom_cart .cart-prices .cart-prices-line.last-line .price {
              font: normal 14px/21px "Ubuntu", sans-serif; }
          #header .cartBox .cart_block .bottom_cart .cart-buttons {
            padding: 0 10px 30px 5px; }
            #header .cartBox .cart_block .bottom_cart .cart-buttons .btn {
              font-size: 12px;
              padding: 5px 10px; } }
  #header .cartBox .block_content {
    margin-bottom: 0; }

/*******************************************************************
					Cart Block(MAIN) Styles
********************************************************************/
.shopping_cart {
  width: 100%; }
  .shopping_cart > a:first-child {
    display: block;
    font: normal 14px/21px "Ubuntu", sans-serif;
    overflow: hidden;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #d2dae3; }
    @media (min-width: 768px) and (max-width: 991px) {
      .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
        display: none !important; } }
    .shopping_cart > a:first-child b {
      padding-right: 5px; }
    .shopping_cart > a:first-child:before {
      font-family: "FontAwesome";
      content: "\f07a";
      display: inline-block;
      font-weight: normal;
      padding-right: 15px; }
    .shopping_cart > a:first-child:hover, .shopping_cart > a:first-child:focus {
      color: #102747; }
  .shopping_cart .ajax_cart_total {
    display: none !important; }
  .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    font-family: "FontAwesome";
    content: "\f0d7";
    display: inline-block;
    font-weight: normal;
    float: right; }
  .shopping_cart .block_cart_collapse:after {
    font-family: "FontAwesome";
    content: "\f0d8";
    display: inline-block;
    font-weight: normal; }

/*******************************************************************
					Cart Block(Drop Down Box) Styles
********************************************************************/
.cart_block {
  background: white;
  -moz-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
  -webkit-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
  box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 99999;
  width: 100% !important;
  position: static;
  display: block;
  padding: 0; }
  .cart_block .cart_block_list {
    padding: 15px; }
    .cart_block .cart_block_list .remove_link {
      font-size: 24px;
      line-height: 25px;
      position: absolute;
      right: 0;
      top: 15px; }
    .cart_block .cart_block_list .remove_link a:before,
    .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
      font-family: "fl-bigmug-line";
      content: "\e08f";
      display: inline-block;
      font-weight: normal;
      color: #8494ab; }
    .cart_block .cart_block_list .remove_link a:hover:before,
    .cart_block .cart_block_list .ajax_cart_block_remove_link:hover:before {
      color: #f14a69; }
    .cart_block .cart_block_list .product-atributes {
      padding: 3px 0 4px; }
  .cart_block .cart-images {
    display: block;
    position: relative;
    background: white;
    float: left;
    margin-right: 20px;
    max-width: 30%; }
    .cart_block .cart-images img {
      max-width: 100%;
      height: auto; }
  .cart_block .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 20px; }
    .cart_block .cart-info .quantity-formated {
      display: inline-block;
      text-transform: uppercase;
      font-size: 10px;
      padding-right: 5px; }
      .cart_block .cart-info .quantity-formated .quantity {
        font-size: 15px; }
  .cart_block dt {
    font-weight: normal;
    overflow: hidden;
    position: relative;
    padding: 20px 0; }
  .cart_block dd {
    position: relative; }
    .cart_block dd .cart_block_customizations {
      border: 1px solid #15325c;
      margin-top: 10px; }
      .cart_block dd .cart_block_customizations li {
        padding: 10px 20px; }
        .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
          position: absolute;
          right: 10px; }
  .cart_block .cart_block_no_products {
    margin: 0;
    padding: 10px 20px; }
  .cart_block .cart-prices {
    background: #15325c;
    padding: 10px 15px;
    margin: 0 -15px; }
    .cart_block .cart-prices .cart-prices-line {
      overflow: hidden;
      border-bottom: 1px solid #0b1c32;
      padding: 7px 0; }
      .cart_block .cart-prices .cart-prices-line.last-line {
        border: none; }
  .cart_block .cart-buttons {
    overflow: hidden;
    padding: 20px 0 0;
    margin: 0; }
  #columns .cart_block .product-name {
    font-size: 13px;
    line-height: 18px; }
    #columns .cart_block .product-name a {
      font-size: 13px;
      line-height: 18px; }
  #columns .cart_block .product-atributes {
    font-size: 11px;
    line-height: 15px; }
  #columns .cart_block .remove_link {
    font-size: 16px;
    line-height: 20px; }
  .cart_block .cart_block_shipping_cost,
  .cart_block .cart_block_tax_cost,
  .cart_block .cart_block_total,
  .cart_block .cart_block_wrapping_cost {
    float: right; }
  .cart_block table.vouchers {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .cart_block table.vouchers tr td {
      padding: 2px; }
      .cart_block table.vouchers tr td.quantity {
        margin-right: 5px;
        min-width: 18px; }
      .cart_block table.vouchers tr td.delete {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        width: 15px; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background: rgba(16, 39, 71, 0.05);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  display: none; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  display: none; }

#layer_cart {
  background: white;
  -moz-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
  -webkit-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
  box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 99999;
  display: none;
  position: absolute;
  width: 90%;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  max-width: 1170px;
  overflow: hidden; }
  #layer_cart .layer_cart_product {
    padding: 51px 60px 48px;
    overflow: hidden;
    position: static; }
    #layer_cart .layer_cart_product .title {
      display: block;
      font: 500 20px/30px "Ubuntu", sans-serif;
      color: #102747;
      margin: 0;
      text-transform: uppercase;
      position: relative;
      padding: 0 0 20px 52px; }
      #layer_cart .layer_cart_product .title:before {
        font-family: "fl-bigmug-line";
        content: "\e016";
        display: inline-block;
        font-weight: normal;
        font-size: 29px;
        color: #fe9f38;
        position: absolute;
        left: 0;
        top: -6px; }
    #layer_cart .layer_cart_product .product-image-container {
      display: block;
      position: relative;
      background: white;
      margin: 0 auto;
      max-width: 250px;
      padding: 10px; }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 18px 0 0 0; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
        display: block;
        padding-bottom: 28px; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_attributes {
        padding-bottom: 8px;
        display: block; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        padding-bottom: 8px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          padding-right: 3px;
          font-weight: normal;
          text-transform: uppercase; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div span {
          color: #fe9f38; }
    @media (max-width: 1199px) {
      #layer_cart .layer_cart_product {
        padding-left: 20px;
        padding-right: 20px; } }
    @media (max-width: 991px) {
      #layer_cart .layer_cart_product .title {
        font-size: 18px;
        padding-right: 0;
        line-height: normal;
        padding-left: 30px; }
        #layer_cart .layer_cart_product .title:before {
          font-size: 19px;
          top: 0; } }
    @media (max-width: 767px) {
      #layer_cart .layer_cart_product .product-image-container {
        width: 35%;
        float: left; }
      #layer_cart .layer_cart_product .layer_cart_product_info {
        padding: 18px 0 0 20px;
        width: 65%;
        float: left; } }
    @media (max-width: 479px) {
      #layer_cart .layer_cart_product {
        border-bottom: 1px solid #d2dae3;
        padding-bottom: 20px; }
        #layer_cart .layer_cart_product .layer_cart_product_info {
          padding: 10px 0 0 10px; }
          #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
            font-size: 13px;
            line-height: 18px;
            padding-bottom: 8px; }
          #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_attributes {
            padding-bottom: 5px;
            font-size: 12px;
            line-height: 18px; }
          #layer_cart .layer_cart_product .layer_cart_product_info > div {
            padding-bottom: 5px;
            font-size: 12px;
            line-height: 18px; } }
  #layer_cart .layer_cart_cart {
    padding: 46px 60px 150px 60px;
    position: relative; }
    #layer_cart .layer_cart_cart:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      border-left: 1px solid #d2dae3;
      height: 2000px; }
    #layer_cart .layer_cart_cart .title {
      display: block;
      font: 500 20px/30px "Ubuntu", sans-serif;
      color: #102747;
      text-transform: uppercase;
      padding-bottom: 27px; }
      #layer_cart .layer_cart_cart .title:before {
        font-family: "fl-bigmug-line";
        content: "\e0a1";
        display: inline-block;
        font-weight: normal;
        font-size: 35px;
        margin-right: 15px;
        color: #fe9f38; }
      #layer_cart .layer_cart_cart .title .ajax_cart_quantity {
        color: #fe9f38; }
      @media (max-width: 767px) {
        #layer_cart .layer_cart_cart .title {
          font-size: 18px; } }
    #layer_cart .layer_cart_cart .layer_cart_row {
      padding: 0 0 8px 0;
      text-transform: uppercase; }
      #layer_cart .layer_cart_cart .layer_cart_row strong {
        text-transform: uppercase;
        font-weight: normal; }
      #layer_cart .layer_cart_cart .layer_cart_row span {
        color: #fe9f38; }
    #layer_cart .layer_cart_cart .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 60px 43px; }
      #layer_cart .layer_cart_cart .button-container .btn {
        margin-bottom: 10px; }
      #layer_cart .layer_cart_cart .button-container span.btn-md {
        margin-right: 16px; }
    @media (min-width: 992px) {
      #layer_cart .layer_cart_cart {
        min-height: 590px; } }
    @media (max-width: 1199px) {
      #layer_cart .layer_cart_cart {
        padding-left: 20px;
        padding-right: 20px; }
        #layer_cart .layer_cart_cart .button-container {
          padding-left: 20px;
          padding-right: 20px; } }
    @media (max-width: 991px) {
      #layer_cart .layer_cart_cart {
        min-height: 600px; }
        #layer_cart .layer_cart_cart .title {
          font-size: 18px;
          padding-right: 0;
          line-height: normal; }
          #layer_cart .layer_cart_cart .title:before {
            font-size: 25px; } }
        @media (max-width: 991px) and (max-width: 767px) {
          #layer_cart .layer_cart_cart .title {
            font-size: 18px; } }
    @media (max-width: 767px) {
      #layer_cart .layer_cart_cart {
        min-height: 0;
        padding-bottom: 0;
        padding-top: 20px; }
        #layer_cart .layer_cart_cart .title {
          font-size: 18px;
          padding-right: 0;
          line-height: normal; }
          #layer_cart .layer_cart_cart .title:before {
            font-size: 25px; }
        #layer_cart .layer_cart_cart .button-container {
          position: static;
          left: auto;
          top: auto;
          padding: 30px 0; } }
        @media (max-width: 767px) and (max-width: 767px) {
          #layer_cart .layer_cart_cart .title {
            font-size: 18px; } }
  #layer_cart .cross {
    position: absolute;
    right: 15px;
    top: 15px;
    width: auto;
    height: auto;
    cursor: pointer;
    z-index: 2;
    background: none;
    padding: 2px 3px; }
    #layer_cart .cross:before {
      font-family: "fl-bigmug-line";
      content: "\e01e";
      display: inline-block;
      font-weight: normal;
      display: block;
      font-size: 24px;
      line-height: 30px; }
    #layer_cart .cross:hover {
      color: #fe9f38; }
  #layer_cart p {
    padding: 0; }

/************************************************************************
						Layer Cart Caroucel
************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #d2dae3;
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 500 20px/30px "Ubuntu", sans-serif;
  color: #5c6e87;
  margin-bottom: 25px; }
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        border: 1px solid #d2dae3;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #5c6e87;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #102747; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      font-family: "FontAwesome";
      content: "\f137";
      display: inline-block;
      font-weight: normal; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      font-family: "FontAwesome";
      content: "\f138";
      display: inline-block;
      font-weight: normal; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15); }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15); }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
