.newsletter-overlay {
  background: rgba(16, 39, 71, 0.05);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden; }
  .newsletter-overlay #newsletter_popup {
    background: white;
    -moz-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
    -webkit-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
    box-shadow: 0 1px 16px rgba(16, 39, 71, 0.17);
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: 99999;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 auto;
    max-width: 470px;
    min-width: 290px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #102747;
    color: #7587a1; }
    @media (max-width: 991px) {
      .newsletter-overlay #newsletter_popup {
        max-height: 90%;
        overflow: auto; } }
    .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
      position: relative;
      padding: 52px 60px 60px; }
      @media (max-width: 991px) {
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
          padding: 52px 20px 20px; } }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: auto;
        height: auto;
        cursor: pointer;
        z-index: 2;
        background: none;
        padding: 2px 3px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:before {
          font-family: "fl-bigmug-line";
          content: "\e01e";
          display: inline-block;
          font-weight: normal;
          display: block;
          font-size: 24px;
          line-height: 30px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:hover {
          color: #fe9f38; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header h4 {
        margin: 0;
        text-transform: uppercase;
        color: white;
        font: 500 20px/30px "Ubuntu", sans-serif; }
        @media (max-width: 991px) {
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header h4 {
            font: normal 14px/21px "Ubuntu", sans-serif;
            margin-bottom: 0; } }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content {
        padding: 24px 0 10px; }
        @media (max-width: 991px) {
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content {
            padding: 5px 0; } }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .description {
          margin-bottom: 25px; }
          @media (max-width: 991px) {
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .description {
              margin-bottom: 10px;
              font-size: 11px; } }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content label {
          display: none; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control {
          width: 100%;
          height: 52px;
          line-height: 30px;
          background: none;
          color: white;
          padding: 11px 12px;
          display: block;
          border: 1px solid #465a70;
          border-radius: 0;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control::-moz-placeholder {
            color: white; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control:-ms-input-placeholder {
            color: white; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control::-webkit-input-placeholder {
            color: white; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control.error {
            padding-left: 30px;
            color: #f14a69; }
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control.error::-moz-placeholder {
              color: #f14a69; }
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control.error:-ms-input-placeholder {
              color: #f14a69; }
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control.error::-webkit-input-placeholder {
              color: #f14a69; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer {
        text-align: right;
        padding: 5px 0 0;
        overflow: hidden; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn {
          float: left; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn.tmnewsletter-close {
            display: none; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn-primary {
          float: left;
          padding: 14px 30px 16px;
          font-weight: 500; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn-primary.tmnewsletter-close {
            display: none; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn-primary:hover, .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn-primary:active, .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn-primary:active:focus, .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn-primary:focus {
            background: white;
            color: #102747;
            border-color: white; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox {
          float: right;
          margin: 17px 0 18px; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker {
            display: inline-block;
            vertical-align: -1px; }
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker span {
              background: none;
              border: 1px solid #465a70;
              color: white; }
              .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker span.checked:before {
                background: none;
                font-size: 9px; }
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker .checked:before {
              left: 0; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox input {
            display: block; }
